<div class="canvas-container" id="pdfContainer">
  <canvas id="pdfCanvas" hidden
          (mousedown)="onMouseDown($event)" 
          (mousemove)="onMouseMove($event)" 
          (mouseup)="onMouseUp()" 
          (wheel)="onScroll($event)"
          (mouseleave)="onMouseLeave()" 
          (touchstart)="onTouchStart($event)"
          (touchmove)="onTouchMove($event)"
          (touchend)="onTouchEnd($event)"></canvas>
</div>
<div class="toolbar">
  <button class="bi bi-pen-fill" (click)="toggleWriteMode()"></button>
  <button class="bi bi-marker-tip" (click)="toggleHighlightMode()"></button>
  <button class="bi bi-floppy-fill" (click)="savePdf()"></button>
  <!-- <button class="bi bi-bookmark-fill" (click)="setbkPagenumber()"></button> -->
  <button class="bi bi-bookmark-check-fill" (click)="gotopage()"></button>
</div>

